@model CatalogFootballPlayers3.Models.ViewModels.FootballerVM

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Введите данные для добавления футболиста</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Footballer.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Footballer.Name" class="form-control" />
                        <span asp-validation-for="Footballer.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Footballer.Surname"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Footballer.Surname" class="form-control" />
                        <span asp-validation-for="Footballer.Surname" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Footballer.Gender"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Footballer.Gender" type="radio" value="Мужской" />
                        <span>Мужской</span> <br />
                        <input asp-for="Footballer.Gender" type="radio" value="Женский" />
                        <span>Женский</span> <br />
                        <span asp-validation-for="Footballer.Gender" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Footballer.Birthday"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Footballer.Birthday" type="date"
                               min="1950-01-01" max="2004-12-31">
                        <span asp-validation-for="Footballer.Birthday" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Footballer.TeamName"></label>
                    </div>
                    <div class="col-8">
                        @*<input asp-for="Footballer.TeamName" class="form-control" />*@
                        <input asp-for="Footballer.TeamName" list="var" />
                        <datalist id="var">
                        <select asp-for="Footballer.TeamName" asp-items="@Model.FootballerSelectList" class="form-control">

                        </select>
                        </datalist>
                        <span asp-validation-for="Footballer.TeamName" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Footballer.Country"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Footballer.Country">
                            <option value="Россия">Россия</option>
                            <option value="США">США</option>
                            <option value="Италия">Италия</option>
                        </select>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Добавить"/>
                        </div>
                        <div class="col">
                            <a asp-controller="Footballer" asp-action="Index" class="btn btn-primary">К списку футболистов</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

@section Scripts{

    @{ <partial name="_ValidationScriptsPartial" /> }

}

